# Query languages in Nigeria from “World_x” MySQL Database

In [1]:
# import necessary libraries
import pymysql
import pandas as pd
from sqlalchemy import create_engine

### Step1 - create connection

In [2]:
# create sqlalchemy engine for a MySQL database, and enter the appropriate credentials,
# which includes user, password, database and host.
engine = create_engine('mysql+pymysql://{user}:{pw}@localhost/{db}'
                       .format(user='root',
                                   pw='1234',
                                   db='world_x'))

### Step2 - read data

In [3]:
# read country data from the database to pandas dataframe
country = pd.read_sql('country', con = engine)

In [4]:
# view country df
country

    Code                                  Name  Capital Code2
0    ABW                                 Aruba    129.0    AW
1    AFG                           Afghanistan      1.0    AF
2    AGO                                Angola     56.0    AO
3    AIA                              Anguilla     62.0    AI
4    ALB                               Albania     34.0    AL
5    AND                               Andorra     55.0    AD
6    ANT                  Netherlands Antilles     33.0    AN
7    ARE                  United Arab Emirates     65.0    AE
8    ARG                             Argentina     69.0    AR
9    ARM                               Armenia    126.0    AM
10   ASM                        American Samoa     54.0    AS
11   ATA                            Antarctica      NaN    AQ
12   ATF           French Southern territories      NaN    TF
13   ATG                   Antigua and Barbuda     63.0    AG
14   AUS                             Australia    135.0    AU
15   AUT                               Austria   1523.0    AT
16   AZE                            Azerbaijan    144.0    AZ
17   BDI                               Burundi    552.0    BI
18   BEL                               Belgium    179.0    BE
19   BEN                                 Benin    187.0    BJ
20   BFA                          Burkina Faso    549.0    BF
21   BGD                            Bangladesh    150.0    BD
22   BGR                              Bulgaria    539.0    BG
23   BHR                               Bahrain    149.0    BH
24   BHS                               Bahamas    148.0    BS
25   BIH                Bosnia and Herzegovina    201.0    BA
26   BLR                               Belarus   3520.0    BY
27   BLZ                                Belize    185.0    BZ
28   BMU                               Bermuda    191.0    BM
29   BOL                               Bolivia    194.0    BO
..   ...                                   ...      ...   ...
209  TKL                               Tokelau   3333.0    TK
210  TKM                          Turkmenistan   3419.0    TM
211  TMP                            East Timor   1522.0    TP
212  TON                                 Tonga   3334.0    TO
213  TTO                   Trinidad and Tobago   3336.0    TT
214  TUN                               Tunisia   3349.0    TN
215  TUR                                Turkey   3358.0    TR
216  TUV                                Tuvalu   3424.0    TV
217  TWN                                Taiwan   3263.0    TW
218  TZA                              Tanzania   3306.0    TZ
219  UGA                                Uganda   3425.0    UG
220  UKR                               Ukraine   3426.0    UA
221  UMI  United States Minor Outlying Islands      NaN    UM
222  URY                               Uruguay   3492.0    UY
223  USA                         United States   3813.0    US
224  UZB                            Uzbekistan   3503.0    UZ
225  VAT         Holy See (Vatican City State)   3538.0    VA
226  VCT      Saint Vincent and the Grenadines   3066.0    VC
227  VEN                             Venezuela   3539.0    VE
228  VGB               Virgin Islands, British    537.0    VG
229  VIR                  Virgin Islands, U.S.   4067.0    VI
230  VNM                               Vietnam   3770.0    VN
231  VUT                               Vanuatu   3537.0    VU
232  WLF                     Wallis and Futuna   3536.0    WF
233  WSM                                 Samoa   3169.0    WS
234  YEM                                 Yemen   1780.0    YE
235  YUG                            Yugoslavia   1792.0    YU
236  ZAF                          South Africa    716.0    ZA
237  ZMB                                Zambia   3162.0    ZM
238  ZWE                              Zimbabwe   4068.0    ZW

[239 rows x 4 columns]

In [5]:
# read countrylanguage data from the database to pandas dataframe
country_lang = pd.read_sql('countrylanguage', con = engine)

In [6]:
# view first five rows country_lang df
country_lang.head()

  CountryCode    Language IsOfficial  Percentage
0         ABW       Dutch          T         5.3
1         ABW     English          F         9.5
2         ABW  Papiamento          F        76.7
3         ABW     Spanish          F         7.4
4         AFG     Balochi          F         0.9

### Step3 - data cleaning

In [7]:
# rename CountryCode column from countrylanguage table
country_lang = country_lang.rename(columns={'CountryCode': 'Code'})

In [8]:
# view change
country_lang.head()

  Code    Language IsOfficial  Percentage
0  ABW       Dutch          T         5.3
1  ABW     English          F         9.5
2  ABW  Papiamento          F        76.7
3  ABW     Spanish          F         7.4
4  AFG     Balochi          F         0.9

### Step4 - performing joining with pandas

In [9]:
# left join country table to countylanguage on column Code using pandas
df_country = pd.merge(country, country_lang, on='Code', how='left')

In [10]:
df_country

,Code,Name,Capital,Code2,Language,IsOfficial,Percentage
0,ABW,Aruba,129.0,AW,Dutch,T,5.3
1,ABW,Aruba,129.0,AW,English,F,9.5
2,ABW,Aruba,129.0,AW,Papiamento,F,76.7
3,ABW,Aruba,129.0,AW,Spanish,F,7.4
4,AFG,Afghanistan,1.0,AF,Balochi,F,0.9
5,AFG,Afghanistan,1.0,AF,Dari,T,32.1
6,AFG,Afghanistan,1.0,AF,Pashto,T,52.4
7,AFG,Afghanistan,1.0,AF,Turkmenian,F,1.9
8,AFG,Afghanistan,1.0,AF,Uzbek,F,8.8
9,AGO,Angola,56.0,AO,Ambo,F,2.4
10,AGO,Angola,56.0,AO,Chokwe,F,4.2
11,AGO,Angola,56.0,AO,Kongo,F,13.2
12,AGO,Angola,56.0,AO,Luchazi,F,2.4
13,AGO,Angola,56.0,AO,Luimbe-nganguela,F,5.4
14,AGO,Angola,56.0,AO,Luvale,F,3.6
15,AGO,Angola,56.0,AO,Mbundu,F,21.6
16,AGO,Angola,56.0,AO,Nyaneka-nkhumbi,F,5.4
17,AGO,Angola,56.0,AO,Ovimbundu,F,37.2
18,AIA,Anguilla,62.0,AI,English,T,0.0
19,ALB,Albania,34.0,AL,Albaniana,T,97.9
20,ALB,Albania,34.0,AL,Greek,F,1.8
21,ALB,Albania,34.0,AL,Macedonian,F,0.1
22,AND,Andorra,55.0,AD,Catalan,T,32.3
23,AND,Andorra,55.0,AD,French,F,6.2
24,AND,Andorra,55.0,AD,Portuguese,F,10.8
25,AND,Andorra,55.0,AD,Spanish,F,44.6
26,ANT,Netherlands Antilles,33.0,AN,Dutch,T,0.0
27,ANT,Netherlands Antilles,33.0,AN,English,F,7.8
28,ANT,Netherlands Antilles,33.0,AN,Papiamento,T,86.2
29,ARE,United Arab Emirates,65.0,AE,Arabic,T,42.0
...,...,...,...,...,...,...,...
960,WSM,Samoa,3169.0,WS,Samoan-English,F,52.0
961,YEM,Yemen,1780.0,YE,Arabic,T,99.6
962,YEM,Yemen,1780.0,YE,Soqutri,F,0.0
963,YUG,Yugoslavia,1792.0,YU,Albaniana,F,16.5
964,YUG,Yugoslavia,1792.0,YU,Hungarian,F,3.4
965,YUG,Yugoslavia,1792.0,YU,Macedonian,F,0.5
966,YUG,Yugoslavia,1792.0,YU,Romani,F,1.4
967,YUG,Yugoslavia,1792.0,YU,Serbo-Croatian,T,75.2
968,YUG,Yugoslavia,1792.0,YU,Slovak,F,0.7
969,ZAF,South Africa,716.0,ZA,Afrikaans,T,14.3
970,ZAF,South Africa,716.0,ZA,English,T,8.5
971,ZAF,South Africa,716.0,ZA,Ndebele,F,1.5
972,ZAF,South Africa,716.0,ZA,Northsotho,F,9.1
973,ZAF,South Africa,716.0,ZA,Southsotho,F,7.6
974,ZAF,South Africa,716.0,ZA,Swazi,F,2.5
975,ZAF,South Africa,716.0,ZA,Tsonga,F,4.3
976,ZAF,South Africa,716.0,ZA,Tswana,F,8.1
977,ZAF,South Africa,716.0,ZA,Venda,F,2.2
978,ZAF,South Africa,716.0,ZA,Xhosa,T,17.7
979,ZAF,South Africa,716.0,ZA,Zulu,T,22.7
980,ZMB,Zambia,3162.0,ZM,Bemba,F,29.7
981,ZMB,Zambia,3162.0,ZM,Chewa,F,5.7
982,ZMB,Zambia,3162.0,ZM,Lozi,F,6.4
983,ZMB,Zambia,3162.0,ZM,Nsenga,F,4.3
984,ZMB,Zambia,3162.0,ZM,Nyanja,F,7.8
985,ZMB,Zambia,3162.0,ZM,Tongan,F,11.0
986,ZWE,Zimbabwe,4068.0,ZW,English,T,2.2
987,ZWE,Zimbabwe,4068.0,ZW,Ndebele,F,16.2
988,ZWE,Zimbabwe,4068.0,ZW,Nyanja,F,2.2
989,ZWE,Zimbabwe,4068.0,ZW,Shona,F,72.1

### Step5 - filter df_country

In [11]:
# filter df_country to return a dataframe where Code = NGA and Name = Nigeria
df_Nigeria = df_country[(df_country['Code']=='NGA') & (df_country['Name']=='Nigeria')]

In [12]:
df_Nigeria

    Code     Name  Capital Code2 Language IsOfficial  Percentage
646  NGA  Nigeria   2754.0    NG     Bura          F         1.6
647  NGA  Nigeria   2754.0    NG      Edo          F         3.3
648  NGA  Nigeria   2754.0    NG      Ful          F        11.3
649  NGA  Nigeria   2754.0    NG    Hausa          F        21.1
650  NGA  Nigeria   2754.0    NG   Ibibio          F         5.6
651  NGA  Nigeria   2754.0    NG      Ibo          F        18.1
652  NGA  Nigeria   2754.0    NG      Ijo          F         1.8
653  NGA  Nigeria   2754.0    NG   Joruba          F        21.4
654  NGA  Nigeria   2754.0    NG   Kanuri          F         4.1
655  NGA  Nigeria   2754.0    NG      Tiv          F         2.3

### Step6 - perform similar LEFT JOIN by writing SQL query

In [13]:
# perform SQL left join query to test method above
query = '''SELECT *
FROM country
LEFT JOIN countrylanguage
ON country.Code = countrylanguage.CountryCode
where country.Code = 'NGA';
'''

In [14]:
# save result to dataframe
df_Nigeria_SQL = pd.read_sql(query, con=engine)

In [15]:
# drop CountryCode column
df_Nigeria_SQL = df_Nigeria_SQL.drop('CountryCode', axis = 1)

### Step7 - check shape attribute of both dataframes

In [16]:
df_Nigeria_SQL.shape

(10, 7)

In [17]:
df_Nigeria.shape

(10, 7)

In [18]:
# condition to check if both shapes are equal
df_Nigeria_SQL.shape == df_Nigeria.shape

True

### Step8 - save result

In [20]:
# save result of df_Nigeria
df_Nigeria.to_sql('nigerialanguage', con=engine, index=False)